/*-----------------------variables*/
:root{
--green-color:#7acc2d;
--white-color: white;
--black-color: #313337;

/* Espaciado */
--space:10px;
/* Tipografía */
--normal:12px;
/* Box Shadow */
--box:0px 0 2px 1px #e6e5e9;
}
/*-----------------------variables*/

/*#####G L O B A L#####*/
html,body{
    padding: 0;
    margin: 0;
    font-size: var(--normal);
    font-family: 'Raleway', sans-serif;
}
label{
    font-size: var(--normal);
}
/*##### N A V ####*/
nav{
    background-color: var(--green-color) ;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    padding-left: 20px;
    list-style: none;
}
nav li a{
    color: var(--black-color);
    text-decoration: none;
}
nav li a:hover{
    color: var(--white-colorS);
}
/*#####M A I N S E C T I O N#####33*/

.main_section{
    padding: 15%;
    text-align: center;
}  
.products{
    background-image: url("../images/curve.png");
    height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}
.product{
    padding: var(--space);
    margin-top: -230px;
}
.product .content{
    background-color: var(--white-color);
    padding: 20px;
    box-shadow: var(--box);
}
.img-content{
    text-align: center;;
}
.main_button{
    background-color: var(--green-color);
    padding:var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    border-radius:2px;
    width: 100%;
}
.main_button:hover{
    background-color: #5e9e22;
    cursor: pointer;
}
/* ######---productos---####### */
/*---------------- primera  sección */
.top-section{
    display: flex;
    margin-top: 35px;
    padding: 10%;
}
.top-section_descriptions_1{
    padding: 10px;
    margin:30px;
    font-size: 12px;
    box-shadow: 0px 0 2px 1px #e6e5e9;;
}

.top-section_descriptions_1 .img-contain{
    text-align: center;
    max-height: 100px;
}

/*----------------- /primera sección */
h1{
    text-align: center;
    margin-top: 70px;
}

/*----------------- segunda sección */
.bottom-section{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 30px;
    padding: 5%;
}
.img-bottom_container img{
    border-radius: 2px;
    width: 100%;
}
.bottom-section_decriptions{
    box-shadow: 0px 0 2px 1px #949190;
    border-radius: 2px;
    margin: 5px;
    font-size: 12px;
    
}
.bottom-section_decriptions h3{
    padding-left: var(--space);
    margin: 5px;
    font-size: 17px;
}
.bottom-section_decriptions p{
    padding: 5px 10px 10px 10px;
}
/*----------------- /segunda sección */

/* ------------------ footer */
footer{
    background-color: #273b47;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
footer div{
    padding:var(--space);
    font-size: 14px;
    color: #b8b5b4;
}
.contact {
    color: var(--green-color);
}

/* ------------------ /footer */
/* /######---productos---####### */

/* ######---ventas---####### */
.modulo_pago{
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding:var(--space);
}
.modulo_pago_images{
    max-width: 150px;
    text-align: center;
    width: 100%;
    /* centrar elementos*** */
    margin: 0 auto;
}
.modulo_pago input{
    width: 100%;
    margin-top: 0;
    height: 35px;
    border-radius: 3px;
    border: 1px solid var(--black-color);
}
.modulo_button{
    margin-top: var(--space);
    padding: var(--space);
    width: 100%;
    background-color: var(--green-color);
    border-radius: 3px;
    border: 1px solid var(--green-color);
    color: var(--white-color);
}
/* ######---/ventas---####### */